/*
 * ==================================================
 * Media Visibility
 * ==================================================
 */
/* These classes make it possible to display elements in only certain medias */
.desktop-visible,
.below-desktop-visible,
.tablet-landscape-visible,
.below-tablet-landscape-visible,
.tablet-visible,
.below-tablet-visible,
.tablet-all-visible,
.handheld-landscape-visible,
.handheld-visible {
  display: none;
}

/* Only handheld portrait */
@media (max-width: 29.9375em) {
  .desktop-visible,
  .tablet-visible,
  .tablet-landscape-visible,
  .handheld-landscape-visible {
    display: none !important;
  }

  .handheld-visible {
    display: block !important;
  }

  a.handheld-visible, abbr.handheld-visible, acronym.handheld-visible, audio.handheld-visible, b.handheld-visible, basefont.handheld-visible, bdo.handheld-visible, big.handheld-visible, br.handheld-visible, canvas.handheld-visible, cite.handheld-visible, code.handheld-visible, command.handheld-visible, datalist.handheld-visible, dfn.handheld-visible, em.handheld-visible, embed.handheld-visible, font.handheld-visible, i.handheld-visible, img.handheld-visible, input.handheld-visible, keygen.handheld-visible, kbd.handheld-visible, label.handheld-visible, mark.handheld-visible, meter.handheld-visible, output.handheld-visible, progress.handheld-visible, q.handheld-visible, rp.handheld-visible, rt.handheld-visible, ruby.handheld-visible, s.handheld-visible, samp.handheld-visible, select.handheld-visible, small.handheld-visible, span.handheld-visible, strike.handheld-visible, strong.handheld-visible, sub.handheld-visible, sup.handheld-visible, textarea.handheld-visible, time.handheld-visible, tt.handheld-visible, u.handheld-visible, var.handheld-visible, video.handheld-visible, wbr.handheld-visible {
    display: inline !important;
  }
}
/* Only handheld landscape */
@media (min-width: 30em) and (max-width: 47.9375em) {
  .desktop-visible,
  .tablet-visible,
  .tablet-landscape-visible,
  .handheld-visible {
    display: none !important;
  }

  .handheld-landscape-visible {
    display: block !important;
  }

  a.handheld-landscape-visible, abbr.handheld-landscape-visible, acronym.handheld-landscape-visible, audio.handheld-landscape-visible, b.handheld-landscape-visible, basefont.handheld-landscape-visible, bdo.handheld-landscape-visible, big.handheld-landscape-visible, br.handheld-landscape-visible, canvas.handheld-landscape-visible, cite.handheld-landscape-visible, code.handheld-landscape-visible, command.handheld-landscape-visible, datalist.handheld-landscape-visible, dfn.handheld-landscape-visible, em.handheld-landscape-visible, embed.handheld-landscape-visible, font.handheld-landscape-visible, i.handheld-landscape-visible, img.handheld-landscape-visible, input.handheld-landscape-visible, keygen.handheld-landscape-visible, kbd.handheld-landscape-visible, label.handheld-landscape-visible, mark.handheld-landscape-visible, meter.handheld-landscape-visible, output.handheld-landscape-visible, progress.handheld-landscape-visible, q.handheld-landscape-visible, rp.handheld-landscape-visible, rt.handheld-landscape-visible, ruby.handheld-landscape-visible, s.handheld-landscape-visible, samp.handheld-landscape-visible, select.handheld-landscape-visible, small.handheld-landscape-visible, span.handheld-landscape-visible, strike.handheld-landscape-visible, strong.handheld-landscape-visible, sub.handheld-landscape-visible, sup.handheld-landscape-visible, textarea.handheld-landscape-visible, time.handheld-landscape-visible, tt.handheld-landscape-visible, u.handheld-landscape-visible, var.handheld-landscape-visible, video.handheld-landscape-visible, wbr.handheld-landscape-visible {
    display: inline !important;
  }
}
/* Only tablet portrait */
@media (min-width: 48em) and (max-width: 61.1875em) {
  .desktop-visible,
  .tablet-landscape-visible,
  .handheld-landscape-visible,
  .handheld-visible {
    display: none !important;
  }

  .tablet-visible {
    display: block !important;
  }

  a.tablet-visible, abbr.tablet-visible, acronym.tablet-visible, audio.tablet-visible, b.tablet-visible, basefont.tablet-visible, bdo.tablet-visible, big.tablet-visible, br.tablet-visible, canvas.tablet-visible, cite.tablet-visible, code.tablet-visible, command.tablet-visible, datalist.tablet-visible, dfn.tablet-visible, em.tablet-visible, embed.tablet-visible, font.tablet-visible, i.tablet-visible, img.tablet-visible, input.tablet-visible, keygen.tablet-visible, kbd.tablet-visible, label.tablet-visible, mark.tablet-visible, meter.tablet-visible, output.tablet-visible, progress.tablet-visible, q.tablet-visible, rp.tablet-visible, rt.tablet-visible, ruby.tablet-visible, s.tablet-visible, samp.tablet-visible, select.tablet-visible, small.tablet-visible, span.tablet-visible, strike.tablet-visible, strong.tablet-visible, sub.tablet-visible, sup.tablet-visible, textarea.tablet-visible, time.tablet-visible, tt.tablet-visible, u.tablet-visible, var.tablet-visible, video.tablet-visible, wbr.tablet-visible {
    display: inline !important;
  }
}
/* Only tablet landscape */
@media (min-width: 61.25em) and (max-width: 72.4375em) {
  .desktop-visible,
  .tablet-visible,
  .handheld-landscape-visible,
  .handheld-visible {
    display: none !important;
  }

  .tablet-landscape-visible {
    display: block !important;
  }

  a.tablet-landscape-visible, abbr.tablet-landscape-visible, acronym.tablet-landscape-visible, audio.tablet-landscape-visible, b.tablet-landscape-visible, basefont.tablet-landscape-visible, bdo.tablet-landscape-visible, big.tablet-landscape-visible, br.tablet-landscape-visible, canvas.tablet-landscape-visible, cite.tablet-landscape-visible, code.tablet-landscape-visible, command.tablet-landscape-visible, datalist.tablet-landscape-visible, dfn.tablet-landscape-visible, em.tablet-landscape-visible, embed.tablet-landscape-visible, font.tablet-landscape-visible, i.tablet-landscape-visible, img.tablet-landscape-visible, input.tablet-landscape-visible, keygen.tablet-landscape-visible, kbd.tablet-landscape-visible, label.tablet-landscape-visible, mark.tablet-landscape-visible, meter.tablet-landscape-visible, output.tablet-landscape-visible, progress.tablet-landscape-visible, q.tablet-landscape-visible, rp.tablet-landscape-visible, rt.tablet-landscape-visible, ruby.tablet-landscape-visible, s.tablet-landscape-visible, samp.tablet-landscape-visible, select.tablet-landscape-visible, small.tablet-landscape-visible, span.tablet-landscape-visible, strike.tablet-landscape-visible, strong.tablet-landscape-visible, sub.tablet-landscape-visible, sup.tablet-landscape-visible, textarea.tablet-landscape-visible, time.tablet-landscape-visible, tt.tablet-landscape-visible, u.tablet-landscape-visible, var.tablet-landscape-visible, video.tablet-landscape-visible, wbr.tablet-landscape-visible {
    display: inline !important;
  }
}
/* Handhelds */
@media (max-width: 47.9375em) {
  .desktop-visible,
  .tablet-landscape-visible,
  .tablet-visible {
    display: none !important;
  }

  .below-tablet-visible {
    display: block !important;
  }

  a.below-tablet-visible, abbr.below-tablet-visible, acronym.below-tablet-visible, audio.below-tablet-visible, b.below-tablet-visible, basefont.below-tablet-visible, bdo.below-tablet-visible, big.below-tablet-visible, br.below-tablet-visible, canvas.below-tablet-visible, cite.below-tablet-visible, code.below-tablet-visible, command.below-tablet-visible, datalist.below-tablet-visible, dfn.below-tablet-visible, em.below-tablet-visible, embed.below-tablet-visible, font.below-tablet-visible, i.below-tablet-visible, img.below-tablet-visible, input.below-tablet-visible, keygen.below-tablet-visible, kbd.below-tablet-visible, label.below-tablet-visible, mark.below-tablet-visible, meter.below-tablet-visible, output.below-tablet-visible, progress.below-tablet-visible, q.below-tablet-visible, rp.below-tablet-visible, rt.below-tablet-visible, ruby.below-tablet-visible, s.below-tablet-visible, samp.below-tablet-visible, select.below-tablet-visible, small.below-tablet-visible, span.below-tablet-visible, strike.below-tablet-visible, strong.below-tablet-visible, sub.below-tablet-visible, sup.below-tablet-visible, textarea.below-tablet-visible, time.below-tablet-visible, tt.below-tablet-visible, u.below-tablet-visible, var.below-tablet-visible, video.below-tablet-visible, wbr.below-tablet-visible {
    display: inline !important;
  }
}
/* Only below tablet landscape */
@media (max-width: 61.25em) {
  .desktop-visible,
  .tablet-landscape-visible {
    display: none !important;
  }

  .below-tablet-landscape-visible {
    display: block !important;
  }

  a.below-tablet-landscape-visible, abbr.below-tablet-landscape-visible, acronym.below-tablet-landscape-visible, audio.below-tablet-landscape-visible, b.below-tablet-landscape-visible, basefont.below-tablet-landscape-visible, bdo.below-tablet-landscape-visible, big.below-tablet-landscape-visible, br.below-tablet-landscape-visible, canvas.below-tablet-landscape-visible, cite.below-tablet-landscape-visible, code.below-tablet-landscape-visible, command.below-tablet-landscape-visible, datalist.below-tablet-landscape-visible, dfn.below-tablet-landscape-visible, em.below-tablet-landscape-visible, embed.below-tablet-landscape-visible, font.below-tablet-landscape-visible, i.below-tablet-landscape-visible, img.below-tablet-landscape-visible, input.below-tablet-landscape-visible, keygen.below-tablet-landscape-visible, kbd.below-tablet-landscape-visible, label.below-tablet-landscape-visible, mark.below-tablet-landscape-visible, meter.below-tablet-landscape-visible, output.below-tablet-landscape-visible, progress.below-tablet-landscape-visible, q.below-tablet-landscape-visible, rp.below-tablet-landscape-visible, rt.below-tablet-landscape-visible, ruby.below-tablet-landscape-visible, s.below-tablet-landscape-visible, samp.below-tablet-landscape-visible, select.below-tablet-landscape-visible, small.below-tablet-landscape-visible, span.below-tablet-landscape-visible, strike.below-tablet-landscape-visible, strong.below-tablet-landscape-visible, sub.below-tablet-landscape-visible, sup.below-tablet-landscape-visible, textarea.below-tablet-landscape-visible, time.below-tablet-landscape-visible, tt.below-tablet-landscape-visible, u.below-tablet-landscape-visible, var.below-tablet-landscape-visible, video.below-tablet-landscape-visible, wbr.below-tablet-landscape-visible {
    display: inline !important;
  }
}
/* Only tablets */
@media (min-width: 48em) and (max-width: 72.4375em) {
  .desktop-visible,
  .handheld-landscape-visible,
  .handheld-visible {
    display: none !important;
  }

  .tablet-all-visible {
    display: block !important;
  }

  a.tablet-all-visible, abbr.tablet-all-visible, acronym.tablet-all-visible, audio.tablet-all-visible, b.tablet-all-visible, basefont.tablet-all-visible, bdo.tablet-all-visible, big.tablet-all-visible, br.tablet-all-visible, canvas.tablet-all-visible, cite.tablet-all-visible, code.tablet-all-visible, command.tablet-all-visible, datalist.tablet-all-visible, dfn.tablet-all-visible, em.tablet-all-visible, embed.tablet-all-visible, font.tablet-all-visible, i.tablet-all-visible, img.tablet-all-visible, input.tablet-all-visible, keygen.tablet-all-visible, kbd.tablet-all-visible, label.tablet-all-visible, mark.tablet-all-visible, meter.tablet-all-visible, output.tablet-all-visible, progress.tablet-all-visible, q.tablet-all-visible, rp.tablet-all-visible, rt.tablet-all-visible, ruby.tablet-all-visible, s.tablet-all-visible, samp.tablet-all-visible, select.tablet-all-visible, small.tablet-all-visible, span.tablet-all-visible, strike.tablet-all-visible, strong.tablet-all-visible, sub.tablet-all-visible, sup.tablet-all-visible, textarea.tablet-all-visible, time.tablet-all-visible, tt.tablet-all-visible, u.tablet-all-visible, var.tablet-all-visible, video.tablet-all-visible, wbr.tablet-all-visible {
    display: inline !important;
  }
}
/* Only widescreens */
@media (min-width: 72.5em) {
  .tablet-visible,
  .tablet-landscape-visible,
  .handheld-landscape-visible,
  .handheld-visible {
    display: none !important;
  }

  .desktop-visible {
    display: block !important;
  }

  a.desktop-visible, abbr.desktop-visible, acronym.desktop-visible, audio.desktop-visible, b.desktop-visible, basefont.desktop-visible, bdo.desktop-visible, big.desktop-visible, br.desktop-visible, canvas.desktop-visible, cite.desktop-visible, code.desktop-visible, command.desktop-visible, datalist.desktop-visible, dfn.desktop-visible, em.desktop-visible, embed.desktop-visible, font.desktop-visible, i.desktop-visible, img.desktop-visible, input.desktop-visible, keygen.desktop-visible, kbd.desktop-visible, label.desktop-visible, mark.desktop-visible, meter.desktop-visible, output.desktop-visible, progress.desktop-visible, q.desktop-visible, rp.desktop-visible, rt.desktop-visible, ruby.desktop-visible, s.desktop-visible, samp.desktop-visible, select.desktop-visible, small.desktop-visible, span.desktop-visible, strike.desktop-visible, strong.desktop-visible, sub.desktop-visible, sup.desktop-visible, textarea.desktop-visible, time.desktop-visible, tt.desktop-visible, u.desktop-visible, var.desktop-visible, video.desktop-visible, wbr.desktop-visible {
    display: inline !important;
  }
}
/* Only below widescreens */
@media (max-width: 72.5em) {
  .desktop-visible {
    display: none !important;
  }

  .below-desktop-visible {
    display: block !important;
  }

  a.below-desktop-visible, abbr.below-desktop-visible, acronym.below-desktop-visible, audio.below-desktop-visible, b.below-desktop-visible, basefont.below-desktop-visible, bdo.below-desktop-visible, big.below-desktop-visible, br.below-desktop-visible, canvas.below-desktop-visible, cite.below-desktop-visible, code.below-desktop-visible, command.below-desktop-visible, datalist.below-desktop-visible, dfn.below-desktop-visible, em.below-desktop-visible, embed.below-desktop-visible, font.below-desktop-visible, i.below-desktop-visible, img.below-desktop-visible, input.below-desktop-visible, keygen.below-desktop-visible, kbd.below-desktop-visible, label.below-desktop-visible, mark.below-desktop-visible, meter.below-desktop-visible, output.below-desktop-visible, progress.below-desktop-visible, q.below-desktop-visible, rp.below-desktop-visible, rt.below-desktop-visible, ruby.below-desktop-visible, s.below-desktop-visible, samp.below-desktop-visible, select.below-desktop-visible, small.below-desktop-visible, span.below-desktop-visible, strike.below-desktop-visible, strong.below-desktop-visible, sub.below-desktop-visible, sup.below-desktop-visible, textarea.below-desktop-visible, time.below-desktop-visible, tt.below-desktop-visible, u.below-desktop-visible, var.below-desktop-visible, video.below-desktop-visible, wbr.below-desktop-visible {
    display: inline !important;
  }
}
