.demo-container {
  margin-bottom: 1.5em;
  background-color: #afafaf;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  white-space: nowrap;
  height: 1.38462em; }

article.demo-container {
  background-color: #71DAD2; }

aside.demo-container {
  background-color: #F09671; }

aside:last-child {
  background-color: #EE9E9C; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }
