// Import base utilities which create no code unless used.
@import 'aether.css/common/utilities';
@import 'breakpoint';

// Legacy IE support
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;

// Vertical Rhythm
// This is baseline, change font sizes in _type.scss
$base-line-height:             24px;
$base-font-size:               16px;
$relative-font-sizing:         true;
$base-em-ratio:                1em / $base-font-size;

// Font size constants
// Enter a px value and it will auto adjust based on your $base-font-size
// If you think in em, replace with auto-size-font(26px) with: 1.625 * $base-font-size
$font-size-xxs:                unitless-em(10px) * $base-font-size; // 10px / 16px = 0.625em
$font-size-xs:                 unitless-em(11px) * $base-font-size; // 11px / 16px = 0.6875em
$font-size-sm:                 unitless-em(12px) * $base-font-size; // 12px / 16px = 0.75em
$font-size-md:                 unitless-em(14px) * $base-font-size; // 14px / 16px = 0.875em
$font-size-normal:             $base-font-size; // 1em
$font-size-lg:                 unitless-em(18px) * $base-font-size; // 18px / 16px = 1.125em
$font-size-xl:                 unitless-em(22px) * $base-font-size; // 22px / 16px = 1.375em
$font-size-xxl:                unitless-em(26px) * $base-font-size; // 26px / 16px = 1.625em

$font-size-h1:                 $font-size-xxl;
$font-size-h2:                 $font-size-xl;
$font-size-h3:                 $font-size-lg;
$font-size-h4:                 $font-size-normal;
$font-size-h5:                 $font-size-md;
$font-size-h6:                 $font-size-sm;

// This indent should be no smaller than your base font size
$typographic-indent:           $font-size-xxl;

// Font Stacks
$header-font-family:           Georgia,"Times New Roman",Times,serif;
$text-font-family:             Georgia,"Times New Roman",Times,serif;
$button-font-family:           "Helvetica Neue", "Helvetica", Arial, "Liberation Sans", FreeSans, sans-serif;
$tab-font-family:              "Helvetica Neue", "Helvetica", Arial, "Liberation Sans", FreeSans, sans-serif;
$input-font-family:            Arial, "Liberation Sans", FreeSans, sans-serif;
$mono-font-family:             Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

// Main Link Colors
$link-color:                   #06c;
$link-color-hover:             adjust-color($link-color, $lightness: -10, $saturation: 10);
$link-color-visited:           $link-color;
$link-color-active:            adjust-color($link-color-hover, $lightness: -5);

// Alternative Link Colors
$link-color-alt:               #888;
$link-color-hover-alt:         adjust-color($link-color-alt, $lightness: -10);
$link-color-visited-alt:       $link-color-alt;
$link-color-active-alt:        adjust-color($link-color-hover-alt, $lightness: -15);

// Text Colors
$text-color:                   #222;
$text-color-light:             adjust-color($text-color, $lightness: 54);
$text-border:                  #ddd;
$text-border-alt:              adjust-lightness($text-border, -14);
$text-border-alt-2:            adjust-lightness($text-border, -27);
$text-marked:                  #ff0;
$text-inserted:                adjust-color($text-marked, $lightness: 30);

// Text Selection Colors
// To disable this, remove the mixin from _type.scss
$text-select-background:       $text-color;
$select-text-color:            invert($text-color);

// Button colors
$button-color-1:               #fff;
$button-color-2:               adjust-lightness($button-color-1, -6);

// Form input colors
$form-background-disabled:     #eee;
$form-background:              #fff;

// Table border colors
$table-border:                 #ddd; // table td
$table-background:             #fff;
// Tables have transparent even/odd styling by default
// Add .zebra-table to your table or add these vars to your base table styling
$table-zebra-even:             #f9f9f9;
$table-zebra-odd:              #f5f5f5;

// Tab colors
$tabs-container-bg:            #fff;
$tabs-border:                  #bbb;

// Generates nested classes for use in fluid or hybrid mode
// This creates a lot of CSS, but can sometimes be useful
$aether-nested-classes:               false;

// Either use a fluid, fixed or hybrid layout
// Set the default grid type
$aether-grid-type:                    hybrid; 
 // Set specific grid types for grid classes at different widths
$aether-grid-type-desktop:            hybrid;
$aether-grid-type-tablet-landscape:   hybrid;
$aether-grid-type-tablet:             hybrid;
$aether-grid-type-handheld-landscape: hybrid;
$aether-grid-type-handheld:           hybrid;

// Used by aether-grid/mediaqueries and media-visibility.
// Media Query Breakpoints, also used to create margins in fluid mode. 
$break-wide:                          1160px;
$break-large:                         980px;
$break-medium:                        768px;
$break-small:                         480px;
$break-smallest:                      400px; // Only used in fluid mode to create a margin on handhelds.

// Fixed and hybrid width layouts
$aether-grid-width-desktop:           1148px; // http://gridcalculator.dk/#/1148/12/20/20
$aether-grid-width-tablet-landscape:  968px; // http://gridcalculator.dk/#/968/12/20/20
$aether-grid-width-tablet:            752px; // http://gridcalculator.dk/#/752/12/20/20
$aether-grid-width-handheld-landscape:428px; // http://gridcalculator.dk/#/428/12/20/20
$aether-grid-width-handheld:          308px; // http://gridcalculator.dk/#/308/12/20/20

// Grid overlay
// Used by aether-grids to create a grid debugging overlay.
$aether-show-grid-background:         false;
$show-column-grid-backgrounds:        true;
$show-baseline-grid-backgrounds:      false;
$grid-background-baseline-color:      hsl(0, 0%, 87%);

// Vertical Rhythm
$aether-base-line-height:             18px;
$aether-base-font-size:               13px;

// Configuration
$aether-columns-desktop:              12; // The number of columns in your large grid.
$aether-columns-tablet:               12; // The number of tablet columns in your medium grid.
$aether-columns-handheld:             12; // The number of columns in your small grid.
$aether-gutter-width:                 20px; // Fixed gutters across all grids.
$aether-column-padding-h:             0; // Left right column padding across all grids.
$aether-column-padding-v:             0; // Upper lower padding across all grids, usually 0.

// Float direction
$aether-float-direction:              left;

// Box model
$aether-box-sizing:                   border-box;

$aether-gridprefix:                   "g";
$aether-pos_prefix:                   "p";
$aether-media-desktop:                "d";
$aether-media-tablet-landscape:       "tl";
$aether-media-tablet:                 "t";
$aether-media-handheld-landscape:     "hl";
$aether-media-handheld:               "h";

// Import Compass mixins
@import "compass/css3";
@import "compass/support"; // Add Compass' IE and vendor prefix support variables.
@import "compass/typography";
@import "compass/utilities";

// Re-usable Layout utilities from Aether Grids
@import "aether-grids";

// Component mixins
@import "aether-components";
@import 'aether.css/common/mediaqueries';